[package]
name = "eran_codes"
version = "0.1.0"
edition = "2024"
default-run = "eran_codes"

[workspace]

members = [
    "crates/domain",
    "crates/infra",
    "crates/service",
    "crates/http",
    "crates/utils",
]

[dependencies]
infra = { path = "crates/infra" }
domain = { path = "crates/domain" }
service = { path = "crates/service" }
http = { path = "crates/http" }

tokio = { version = "1", features = [
    "macros",
    "rt-multi-thread",
    "time",
    "fs",
] }

[workspace.dependencies]
nutype = "0.6.2"

[workspace.metadata.scripts]
migrate = "cargo with-db sqlx migrate run --source crates/infra/migrations"
prepare = "cargo with-db sqlx prepare --workspace -- --all-targets"
b = "bacon run ."
